.header {
  @media (max-width: 1280px) {
    .header__search {
      .header__input {
        width: 217px;
      }
    }
    .header__menu {
      column-gap: 20px;
    }
  }

  @media (max-width: 1024px) {
    .header__search {
      .header__input {
        width: 160px;
      }
    }
    .header__menu {
      column-gap: 15px;

      a {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 768px) {
    .header__search {
      .header__input {
        width: 200px;
      }
    }

    .header__menu {
      display: none;
    }
  }

  @media (max-width: 576px) {
    .header__logo-img {
      width: 65px;
      margin-right: 10px;
    }

    .header__search {
      .header__search-img {
        width: 17px;
      }

      .header__input {
        padding-left: 5px;
        width: 110px;
        font-size: 14px;
      }
    }
  }
}