.header {
  padding-top: 46px;

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }


  .header__search {
    display: flex;

    img {
      width: 100%;
    }

    .header__input {
      height: 100%;
      width: 327px;
      padding-left: 20px;
      border: none;
      font-family: "Circular Std", sans-serif;
    }
  }

  .header__menu {
    display: flex;
    column-gap: 33px;

    a {
      display: inline-block;
      font-family: 'Circular Std', sans-serif;
      font-size: 17px;
      color: #000000;
      text-decoration: none;
      padding: 3px 0;
    }

    .active a {
      border-bottom: 2px solid #000000;
    }

    :not(.active) a:not(.header__menu-img):hover {
      transition: 0.3ms;
      border-bottom: 2px solid #ff0000;
    }
  }
}